$cor0: #dbc822;
$cor1: #d78e28;
$cor2: #d14c27;
$cor3: #b82625;
$cor4: #4c2520;
$cor5: #0e0000;
$fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
$fonte-destaque: "Bebas Neue", "cursive";
$fonte-boxe: "boxe", cursive;
