@use "../utils" as utils;
.history {
  padding: 20px;
  margin: 0;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.568);

  &__title {
    color: utils.$cor3;
    font-family: utils.$fonte-boxe;
  }

  &__sub-title {
    color: utils.$cor3;
    font-family: utils.$fonte-destaque;
  }
}
