@use "../utils" as utils;
.main {
  padding: 20px;
  border-radius: 20px 20px 20px 20px;
  min-width: 260px;
  max-width: 600px;

  margin: auto;
  margin-bottom: 30px;
  margin-top: 20px;

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  &__link {
    text-decoration: none;
    background-color: utils.$cor1;
    color: black;
    padding: 2px;

    &:hover {
      text-decoration: underline;
      color: utils.$cor0;
    }
  }

  &__title {
    font-size: 1.5em;
    font-weight: normal;
    text-align: center;
  }

  &__sub-title {
    font-size: 1.6em;
    text-indent: 4px;
    text-align: center;
  }

  &__text {
    font-family: utils.$fonte-padrao;
    text-align: justify;
    text-indent: 30px;
    margin-top: 10px;
    margin-bottom: 10px;

    line-height: 2em;
  }

  &__strong {
    padding: 2px;
    background-color: utils.$cor1;
  }

  &__img-content {
    margin-left: 0px;
    margin-right: 0px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.418);
    background-color: #0e000018;
  }

  &__img {
    width: 100%;
    max-width: 500px;
    margin: auto;
    display: block;
  }

  &__img--vertical {
    max-width: 900px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.418);
  }

  &__video-content {
    background-color: utils.$cor4;
    margin: 0px -20px 30px -20px;
    padding: 20px;

    padding-bottom: 57%;

    position: relative;
  }

  &__video {
    position: absolute;
    top: 5%;
    left: 5%;

    width: 90%;
    height: 90%;
  }
}
