.portal {
  padding: 10px;
  background-color: white;
}

.portal__title {
  color: white;
  background-color: #0e0000;
  text-align: center;
  border-radius: 25px;
}

footer {
  background-color: #9e0000;
  color: white;
  text-align: center;
}
