$cor0: #f2f4f5;
$cor1: #eeab26;
$cor2: #d54308;
$cor3: #c4151e;
$cor4: #0d0b0d;
$color-blue: #007bae;
$fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
$fonte-destaque: "Bebas Neue", "cursive";
$fonte-boxe: "boxe", cursive;
$transition-page: 0.3s;
