$cor0: #f2f4f5;
$cor1: #db9d28;
$cor2: #a54c13;
$cor3: #8b2c13;
$cor4: #0d0b0d;
$color-blue: rgba(1, 75, 174, 255);
$fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
$fonte-destaque: "Bebas Neue", "cursive";
$fonte-boxe: "boxe", cursive;
$transition-page: 0.3s;
